name: Cargo Build & Test

on:
  push:
    branches: [ "main", "development" ]
  pull_request:
    branches: [ "main", "development" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Build and Test picoserve
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose --all
      - name: Run tests
        run: cargo test --verbose

  build_embassy_examples:
    name: Build Embassy Examples
    runs-on: ubuntu-latest
    needs: build_and_test

    steps:
      - uses: actions/checkout@v4
      - name: Build embassy examples
        working-directory: ./examples/embassy
        run: cargo build --verbose
      
  build_embassy_defmt_example:
    name: Build Embassy defmt Example
    runs-on: ubuntu-latest
    needs: build_and_test

    steps:
      - uses: actions/checkout@v4
      - name: Build embassy defmt example
        working-directory: ./examples/embassy/hello_world_defmt
        run: cargo build --verbose
